.fcopy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: sticky;
    width: 100%;
    height: min-content;
    z-index: 10;
    background: linear-gradient(128deg, rgb(5, 0, 99) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.fcopy-container h3 {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    justify-content: center;
    align-items: center;
}